* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 10px 10px;
}

h1::after {
    content: "🩵";
    
}

p {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(147, 147, 211, 0.541);
    padding: 20px ;
}

main {
    padding: 20px;
    text-align: center;
}

input {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 10px 10px;
}

button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(95, 224, 20);
    box-shadow: 10px 10px;
}